.App {
	text-align: center;
	height: 100%;
	background-color: #cfe3d8;
}
Content {
	color: red;
	display: 'flex';
	flex-wrap: nowrap;
	overflow-X: auto;
}

.lists {
	flex: 0 0 auto;
	width: 250px;
	margin: 20px;
}
